<div class="container">
  <h1>To do list</h1>
  <ul *ngIf="toDos.length; else noToDosLeft">
    <app-to-do
      *ngFor="let toDo of toDos | trueThenFalsePipe; index as i"
      [index]="i"
      [toDo]="toDo"
      [disabledOrNot]="disabledButtons"
      (idToDelete)="deleteToDo($event)"
      (disableAllButtonts)="setDisabledButtons($event)"
    ></app-to-do>


  </ul>

  <app-add-to-do
    (addToDo)="addNewOne($event)"
    [disabledOrNot]="disabledButtons"
  ></app-add-to-do>
  <button routerLink="/description" routerLinkActive="active">
    description
  </button>
  <router-outlet></router-outlet>

  <ng-template #noToDosLeft>
    <h3>There are no tasks left</h3>
  </ng-template>
</div>
