<li>
  <span [ngClass]="{ completed: toDo.completed }">
    <input type="checkbox" [checked]="toDo.completed" (change)="complete()" />
    <strong> {{ toDoNumber + 1 + ")" }}</strong>
    <span routerLink="../todos/{{ toDo.id }}" class="toDoTitle">
      {{!editing ? toDo.title : ""}}
    </span>
    <input class="inputEdit" [(ngModel)]="toDo.title" *ngIf="editing" />
  </span>

  <span>
    <button *ngIf="editing" (click)="toggleEditing()">Submit</button>
    <button
      *ngIf="!editing"
      (click)="toggleEditing()"
      [disabled]="disabledOrNot"
    >
      Edit
    </button>
    <button class="cross" (click)="deleteToDo()" [disabled]="disabledOrNot">
      &times;
    </button>
  </span>
</li>
