li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px 0;
  background-color: #e9e6eb;
  animation: ani 2s;

  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

    span {
      display: flex;
      align-items: center;

      .toDoTitle {
        cursor: pointer;

        &:hover {
          color: rgb(71, 71, 253);
        }
      }

      .cross {
        margin-left: 3px;
      }

      .inputEdit {
        background-color: rgb(233 232 238);
        border-color: rgb(188 188 188);
        margin-left: 5px;
        width: 20vw;
      }
    }
}
.completed {
  text-decoration: line-through;
}
