li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #e9e6eb;

    span {
      display: flex;
      align-items: center;

      .cross {
        margin-left: 3px;
      }

      .inputEdit {
        background-color: rgb(233 232 238);
        border-color: rgb(188 188 188);
        margin-left: 5px;
        width: 20vw;
      }
    }
}
.completed {
  text-decoration: line-through;
}
